
include navbar.pug
.bg-light
  #abt.container.pt-4.pb-4(style='background-color: #ffffff')
   
    .container
    .container
      h4.pt-3.pb-3 Industry 4.0 
      .pb-2
        | Industry 4.0 is projected as the fourth industrial revolution (Hannover Messe, 2011) promotes computerisation of manufacturing
        ul.pb-2.pr-5
          li
            | Strong customization of products under the conditions of highly flexible (mass) production
          li
            | Introduction of methods of self-optimization, self-configuration, self-diagnosis, cognition and intelligent support of workers in their increasingly complex work
    .container
        h4.pt-3.pb-3 Four Design Principles in Industry 4.0
        ul.pb-2
          li
            b Interconnection:  
            |    The ability of machines, devices, sensors, and people to connect and communicate with each other via the Internet of Things (IoT) or the Internet of People (IoP)
          li
            b Information transparency:  
            |   Provides operators with vast amounts of useful information needed to make appropriate decisions.
          li
            b Technical assistance:  
            |  Assistance systems by aggregating and visualizing information comprehensively for making informed decisions and to physically support humans by conducting unpleasant, exhausting and unsafe tasks for human workers.
          li
            b Decentralized decisions:  
            | Ability of cyber physical systems to make decisions on their own and to perform their tasks as autonomously as possible
    .container
      h4.pt-3.pb-3 National Policy for Advanced Manufacturing (NPAM)
      ul.pb-2
        li Envisages that manufacturing should constitute at least 25% of GDP.
        li
          | This initiative of the 
          b Technology Mission for the Indian Railways 
          | will help enable exponential increase in manufacturing in India with minimal expenditure.
    .container
      h4.pt-3.pb-3 Technology Domains
      ul.pb-4
        li Cyber-Physical Architecture of Industry 4.0 is complex 
        li
          | Architecture is of vital importance for it to get kick started initially and expanded gradually in a phased manner the architecture as conceptualized and formulated in MCF should be replicable .
        li
          | Inter-disciplinary technology includes &ndash;
          ul
            li Internet of Things, Cloud Computing and Cognitive Computing
            li Component and System Design &amp; Dynamics
            li Manufacturing Processes
            li Quality Control
            li Sensors
            li Data Acquisition
            li Signal Processing
            li Neural Networks, Multi-Objective Optimisatiopn, Fuzzy Logic
            li Reliability, Availability, Maintainability, Sustainability (RAMS)
include footer.pug