
include navbar.pug
.bg-light
  .container.pt-4.pb-4(style='background-color: #ffffff')
  
    div(style='background-color: #ffffff;')
      #cont(style='display: block;\
      margin-left : auto;\
      margin-right: auto;\
      width: 50%')
      .container
        .container(style='background-color: #ffffff')
        
          .container
            div
              h5(style='text-align: center;') Address
              p(style='text-align: center;')
                | NL 103 (Northen Lab)
                | Department of M.E.
                | Indian Institute of Technology, Kanpur
                | 208016, Uttar Pradesh,
                | India
            div
              h5(style='text-align: center;') Contact
              p(style='text-align: center;') 0512-2597040
    br
include footer.pug
