
include navbar.pug
.bg-light
.container
  .row.row-content.pb-5
    .col-12
      h3.pt-5 Location Information
    .col-12.col-sm-4.offset-sm-1
      h5.pt-3.pb-2 Address
      address
        | NL 103 (Northen Lab)
        br
        |             Department of M.E.
        br
        |             Indian Institute of Technology, Kanpur
        br
        |             208016, Uttar Pradesh,
        br
        |             India
        br
        i.fa.fa-phone.fa-lg.pr-2
        | :0512-2597040
        br
    .col-12.col-sm-6.offset-sm-1
      h5 Map of our Location
include footer.pug
