include navbar.pug
.bg-light
  .container.pt-3.pb-3
    h3.text-center 
      b Events
    for item in event
      .container.pb-2
        .card
          .card-body
            h5.card-title #{ item.Title}
            p.card-text #{item.Description}
include footer.pug


