include navbar.pug
.bg-light
  for item in event
    .container.pt-3.pb-3
      .card
        .card-body
          h5.card-title #{ item.Title}
          p.card-text #{item.Description}
include footer.pug


