footer.footer
  .container
    .row
      .col-4.col-sm-2.offset-1
        h5 Links
        ul.list-unstyled
          li
            a(href='#' style='color: black;')
              span.fa.fa-home.fa-lg.pt-2.pr-1
              | Home
          li
            a(href='#' style='color: black;')
              span.fa.fa-info.fa-lg.pt-3.pr-3
              | About
          li
            a(href='#' style='color: black;')
              span.fa.fa-address-card.fa-lg.pt-3.pr-1
              | Contact
          li
            a(href='#' style='color: black;')
              span.fa.fa-user.fa-lg.pt-3.pr-2
              | Admin
      .col-7.col-sm-5
        h5 Address
        address
          | NL 103 (Northen Lab)
          br
          |                   Department of M.E.
          br
          |                   Indian Institute of Technology, Kanpur
          br
          |                   208016, Uttar Pradesh,
          br
          |                   India
          br
          i.fa.fa-phone.fa-lg.pr-2
          | :0512-2597040
          br
      .col-12.col-sm-4.align-self-center
