footer(style='background-color:  #cd5c5c ; padding: 3px; color: #ffffff;')
    .container.pb-5.pt-2.pl-3(style='margin-bottom:0; color:white')
        p
            .row
                
                .col
                    h5.pl-4 Heading
                    ul
                    li
                        a(href='#' style='color:  #ffffff;') LINK
                    li
                        a(href='#' style='color:  #ffffff;') LINK
                    li
                        a(href='#' style='color:  #ffffff;') LINK
                    li
                        a(href='#' style='color:  #ffffff;') LINK
                    li
                        a(href='#' style='color:  #ffffff;') LINK
              
                .col
                    h5.pl-4 Heading
                    ul
                    li
                        a(href='#' style='color:  #ffffff;') LINK
                    li
                        a(href='#' style='color:  #ffffff;') LINK
                    li
                        a(href='#' style='color:  #ffffff;') LINK
                    li
                        a(href='#' style='color:  #ffffff;') LINK
                    li
                        a(href='#' style='color:  #ffffff;') LINK
              
                .col
                    h5.pl-4 Heading
                    ul
                    li
                        a(href='#' style='color:  #ffffff;') LINK
                    li
                        a(href='#' style='color:  #ffffff;') LINK
                    li
                        a(href='#' style='color:  #ffffff;') LINK
                    li
                        a(href='#' style='color:  #ffffff;') LINK
                    li
                        a(href='#' style='color:  #ffffff;') LINK