footer.footer
  .container.text-center.text-md-left
    .row
      .col-md-6.mt-md-0.mt-3
        h5.text-uppercase 
          b Address
        address
          | NL 103 (Northen Lab)
          br
          |                 Department of M.E.
          br
          |                 Indian Institute of Technology, Kanpur
          br
          |                 208016, Uttar Pradesh,
          br
          |                 India
          br
          i.fa.fa-phone.fa-lg.pr-2
          | :0512-2597040
          br
      hr.clearfix.w-100.d-md-none.pb-3
      .col-md-3.mb-md-0.mb-3
        h5.text-uppercase 
          b Links
        ul.list-unstyled
          li
            a(href='https://industry-4nsv.herokuapp.com/' style='color: black;')
              span.fa.fa-home.fa-lg.pt-2.pr-1
              | Home
          li
            a(href='https://industry-4nsv.herokuapp.com/about' style='color: black;')
              span.fa.fa-info.fa-lg.pt-3.pr-3
              | About
          li
            a(href='https://industry-4nsv.herokuapp.com/contact' style='color: black;')
              span.fa.fa-address-card.fa-lg.pt-3.pr-1
              | Contact
          li
            a(href='https://industry-4nsv.herokuapp.com/admin' style='color: black;')
              span.fa.fa-user.fa-lg.pt-3.pr-2
              | Admin
      .col-md-3.mb-md-0.mb-3
        h5.text-uppercase 
          b Useful Links
        ul.list-unstyled
          li.pt-1
            a(href='#' style='color: black;') Relevant Literature
          li.pt-1
            a(href='https://mcf.indianrailways.gov.in/' style='color: black;') About MCF
          li.pt-1
            a(href='http://www.indianrailways.gov.in/railwayboard/' style='color: black;') About Indian Railways
          li.pt-1
            a(href='http://www.iitk.ac.in/' style='color: black;') About IIT Kanpur
.footer-copyright.text-center.py-3(style='background-color:#A93434; color:#f5dede;')
  b &copy; 2020 Copyright: All Rights Reserved


  
