
include navbar.pug
.bg-light
  #ia.container-fluid
    .row.pt-5
      .col-xl-6.col-lg-6.mt-1
        img.img-fluid(src='/public/images/implementation overview.png' style='display: block;\
        margin-left : auto;\
        margin-right: auto;\
        width: 80%')
      .col-xl-6.col-lg-6.pt-3
        .container
          h2.text-center.pb-3 Implementation
          .container(style=' font-size: 18px;')
            ul
              li
                | Various packages, systems, applications and Hardware within Design/Planning, Networking and Production to be added in a modular and incremental manner.
              li
                | Various shops within the industry establishment will be under the ambit of Industry 4.0 for areas such as Inspection, Machining, Welding, Measurement etc. These can further be divided into activities and work centres.
              li
                | The aggregation of the above in a Industry 4.0 generic application Package such as that which has been implemented in MCF.
              li
                | An add on ERP in Microsoft Dynamics to enable user friendly MIS through popular applications such as Word and Excel on desktop/smart phones.
    .mt-5.pb-5.text-center
      h2.pt-5.pb-5(style='color:#000000;') Proposed Architecture
      div
        img.img-fluid(src='/public/images/proposed arch.png' style='display: block;\
        margin-left : auto;\
        margin-right: auto;\
        width: 70%')
include footer.pug
