doctype html
head
  title Industry-4NSV 
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
  script(src='https://kit.fontawesome.com/a076d05399.js')
  style.
   body {
      background-color: #f7f7f7;
    }
div(style='background-color:  #cd5c5c;')
  .container.text-center
    .row
      .col-2
        img.img-fluid(src='/public/images/logo.png' alt='logo')
      .col-8.pt-4
        h1.pb-5.pt-3(style='color:#f0f0f5; text-shadow: 8px 8px 16px #000000;')
          b INDUSTRY 4-NSV
      .col-2
        img.img-fluid.pt-4(height='75px' width='100px' src='/public/images/emblem.png' alt='emblem')
include navbar.pug
.container.pt-4.pb-4(style='background-color: #ffffff')
  .container
    .container
      h4.pt-3.mb-3.text-center Introduction
      .pt-3.pb-3
        | The Modern Coach Factory (MCF) increased production from about 500 coaches per year by 3&ndash;4 times within a year and this was also enabled significantly by the adoption of Industry 4.0.
        | Our Hon&rsquo;ble Prime Minister&rsquo;s inspection of MCF in December 2018 is an inspiration to proliferate this initiative.
        | This project envisages further implementation in MCF (enabling increase to 5000 coaches i.e. 10 times with Industry 4.0) and proliferation in railway units across India.
        | This will also be useful in other Government Units such as Defense Production and in the private sector.
      ul.pt-4.pb-4
        li
          b  Objective :
          |   to develop and implement Industry 4.0 protocols for rail  coach design and manufacturing processes for improved productivity and process flexibilities.
        li
          b  Cost :
          |   DST Share: 1663.84 Lakhs Railway Share:  Rs. 4229.50 Lakhs.
        li
          b Duration :
          |    24 months (From October 01, 2019)
    .container
      h4.pt-3.mb-4.text-center Before Industry 4.0 
      .row
        .col-xl-4.col-lg-4
          .mb-3
            .container
              .pb-2.text-center
                b Industry 1.0
              .pb-2.text-center
                | Refers to the first industrial revolution  (1760 &ndash; 1840) transition from hand production to machines through the use of steam power and water power
                | had consequences on textile manufacturing, which was first to adopt such changes, as well as iron industry, agriculture, and mining
        .col-xl-4.col-lg-4
          .mb-3
            .container
              .pb-2.text-center
                b Industry 2.0 
              .pb-2.text-center
                | Refers to the second industrial revolution (1870 and 1914) extensive railroad networks and the telegraph which allowed for faster transfer of people and ideas
                | ever more present electricity which allowed for factory electrification and the modern production line
        .col-xl-4.col-lg-4
          .mb-3
            .container
              .pb-2.text-center
                b Industry 3.0
              .pb-2.text-center
                | Refers to the third industrial revolution (late 20th century) also called digital revolution
                | from the production of Z1 (electrically driven mechanical calculator) to the development of communication technologies with the supercomputer.
