doctype html
head
  title Industry-4NSV 
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
  script(src='https://kit.fontawesome.com/a076d05399.js')
  style.
    body {
      background-color: #f0f0f5;
    }
    li a{
    color: #000000;
    }
    li a:hover {
    background-color: #e0e0eb;
    color: #cd5c5c;
    }
div(style='background-color:  #cd5c5c;')
  .container.text-center
    .row
      .col-2
        img.img-fluid(src='/public/images/logo.png' alt='logo')
      .col-8.pt-4
        h1.pb-5.pt-3(style='color:#f0f0f5; text-shadow: 8px 8px 16px #000000;')
          b INDUSTRY 4-NSV
      .col-2
        img.img-fluid.pt-4(height='75px' width='100px' src='/public/images/emblem.png' alt='emblem')
include navbar.pug
.container
  #layout.container
    .card.mb-3.mt-5
      .card-body
        h4.text-center.pt-3.pb-2
          b Pilot Shopfloor
        h6.text-center.pb-3 Shell Shop Layout
        img.img-fluid(src='/public/images/shellShopLayout.png' style='vertical-align:middle;margin:20px 0px;')
  .container
    .card.mb-5.mt-3
      .card-body
        h4.text-center.pt-3.pb-3
          b MCF OFC Layout
        img.img-fluid(src='/public/images/MCF_OFC_LAYOUT.png' style='vertical-align:middle;margin:20px 0px;')
