doctype html
head
  title Industry-4NSV | About
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
  script(src='https://kit.fontawesome.com/a076d05399.js')
  style.
    .fakeimg {
    height: 200px;
    background:#aaa;
    }
div(style='background-color:black')
  .container.text-center
    .row
      .col-2
        img.img-fluid(src='./images/logo.png' alt='logo')
      .col-8.pt-4
        h1.pb-5.pt-3(style='color: white;') INDUSTRY 4-NSV
      .col-2
        img.img-fluid.pt-4(height='75px' width='100px' src='./images/emblem.png' alt='emblem')
nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
  a.navbar-brand(href='#')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
    span.navbar-toggler-icon
  #collapsibleNavbar.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='http://localhost:3000/')
          b Home
      li.nav-item
        a.nav-link(href='http://localhost:3000/about')
          b About
      li.nav-item
        a.nav-link(href='http://localhost:3000/event/getevent')
          b News &amp; Events
      li.nav-item.dropdown
        a#navbardrop.nav-link.dropdown-toggle(href='#' data-toggle='dropdown')
          b Implementation Details
        .dropdown-menu
          a.dropdown-item(href='http://localhost:3000/implementation/layouts') Layouts
          a.dropdown-item(href='http://localhost:3000/implementation/LHBCoachShellManufacture') LHB Coach Shell Manufacture
          a.dropdown-item(href='http://localhost:3000/implementation/tables') Tables
          a.dropdown-item(href='http://localhost:3000/implementation/architecture')  Implementation and Architecture
      li.nav-item
        a.nav-link(href='http://localhost:3000/moredetails')
          b More Details
      li.nav-item
        a.nav-link(href='http://localhost:3000/contact')
          b Contact
      li.nav-item
        a.nav-link(href='http://localhost:3000/component/getcomponentform#tb')
          b Component Detail Form 
          
.container
  #layout.container
    .card.mb-3.mt-5
      .card-body
        h4.text-center.pt-3.pb-2
          b Pilot Shopfloor
        h6.text-center.pb-3 Shell Shop Layout
        img.img-fluid(src='/public/images/shellShopLayout.png' style='vertical-align:middle;margin:20px 0px;')
  .container
    .card.mb-5.mt-3
      .card-body
        h4.text-center.pt-3.pb-3
          b MCF OFC Layout
        img.img-fluid(src='/public/images/MCF_OFC_LAYOUT.png' style='vertical-align:middle;margin:20px 0px;')
