
include navbar.pug
.bg-light
  .container
    #layout.container
      .container.pb-4.pt-4(style='background-color: #ffffff')
        .container-body
          h4.text-center.pt-3.pb-2
            b Pilot Shopfloor
          h6.text-center.pb-3 Shell Shop Layout
          img.img-fluid(src='/public/images/shellShopLayout.png' style='vertical-align:middle;margin:20px 0px;')
    .container
      .container.pb-4.pt-4(style='background-color: #ffffff')
        .container-body
          h4.text-center.pt-3.pb-3
            b MCF OFC Layout
          img.img-fluid(src='/public/images/MCF_OFC_LAYOUT.png' style='vertical-align:middle;margin:20px 0px;')
include footer.pug