include navbar.pug
.bg-light
 #lhb.container
      h3.text-center.pt-4.pb-4 LHB Coach Shell Manufacture
      .container-fluid.mt-5.mb-5
      div
        .container
          .row.pb-5
            .col-xl-3.col-lg-3
              .container-fluid.text-center
                #myCarousel2.carousel.slide(data-ride='carousel' data-interval='2500')
                  // Indicators
                  .carousel-inner
                    .carousel-item.active
                      img.img-fluid(src='/public/images/side1.png' alt='side 1')
                      h5.pt-2.pb-2(style=' font-size: 18px') Side Wall Fabrication
                      h6(style=' font-size: 14px') 1. Manual Tack Welding Station
                      p(style=' font-size: 14px') Tack Welding Of Side Wall Skin With Frame
                    .carousel-item
                      img.img-fluid(src='/public/images/side2.png' alt='side 2')
                      h5.pt-2.pb-2(style=' font-size: 18px') Side Wall Fabrication
                      h6(style=' font-size: 14px') 2. Robotic Skelton Welding Station
                      p(style=' font-size: 14px') Full Mig Welding Of Frame Members
                    .carousel-item
                      img.img-fluid(src='/public/images/side3.png' alt='side 3')
                      h5.pt-2.pb-2(style=' font-size: 18px') Side Wall Fabrication
                      h6(style=' font-size: 14px') 3. Robotic Spot Welding Station
                      p(style=' font-size: 14px') Spot Welding Of Side Wall Skin With Frame
                    .carousel-item
                      img.img-fluid(src='/public/images/side4.png' alt='side 4')
                      h5.pt-2.pb-2(style=' font-size: 18px') Side Wall Fabrication
                      h6(style=' font-size: 14px') 4. Robotic Roof Bearer Fabrication
                      p(style=' font-size: 14px') Complete Mig And Spot Welding Of Stiffner With Carline
                    .carousel-item
                      img.img-fluid(src='/public/images/side5.png' alt='side 5')
                      h5.pt-2.pb-2(style=' font-size: 18px') Side Wall Fabrication
                      h6(style=' font-size: 14px') 5. Sidewall And Roof Bearer Welding
                      p(style=' font-size: 14px') Welding Of Roof Bearer With Sidewall
                    .carousel-item
                      img.img-fluid(src='/public/images/side6.png' alt='side 6')
                      h5.pt-2.pb-2(style=' font-size: 18px') Side Wall Fabrication
                      h6(style=' font-size: 14px') 6. Manual Welding Station
                      p(style=' font-size: 14px') Back Piece Welding And Completion Of Work
                  // Left and right controls
                  a.prev.carousel-control-prev(href='#myCarousel2' data-slide='prev')
                    span.carousel-control-prev-icon
                  a.next.carousel-control-next(href='#myCarousel2' data-slide='next')
                    span.carousel-control-next-icon
            .col-xl-3.col-lg-3
              .container-fluid.text-center
                #myCarousel3.carousel.slide(data-ride='carousel' data-interval='2500')
                  // Indicators
                  .carousel-inner
                    .carousel-item.active
                      img.img-fluid(src='/public/images/top1.png' alt='top 1')
                      h5.pt-2.pb-2(style=' font-size: 18px')  Roof Fabrication
                      h6(style=' font-size: 14px') 1. Robotic Spot Welding Station
                      p(style=' font-size: 14px') Tack Welding Of Side Wall Skin With Frame
                    .carousel-item
                      img.img-fluid(src='/public/images/top2.png' alt='top 2')
                      h5.pt-2.pb-2(style=' font-size: 18px')  Roof Fabrication
                      h6(style=' font-size: 14px') 2. Tack Welding Station 
                      p(style=' font-size: 14px') Spot Welded Roof Sheet Tacked With Front Sheet 
                    .carousel-item
                      img.img-fluid(src='/public/images/top3.png' alt='top 3')
                      h5.pt-2.pb-2(style=' font-size: 18px')  Roof Fabrication
                      h6(style=' font-size: 14px') 3. Robotic Mig Welding Station
                      p(style=' font-size: 14px') Robotic Mig Welding of Roof Sheet and Back Pice
                    .carousel-item
                      img.img-fluid(src='/public/images/top4.png' alt='top 4')
                      h5.pt-2.pb-2(style=' font-size: 18px')  Roof Fabrication
                      h6(style=' font-size: 14px') 4. Manual Roof Completion Station
                      p(style=' font-size: 14px') Manual Touch Up for Complete Welding of Roof Sheet and Carline
                  // Left and right controls
                  a.prev.carousel-control-prev(href='#myCarousel3' data-slide='prev')
                    span.carousel-control-prev-icon
                  a.next.carousel-control-next(href='#myCarousel3' data-slide='next')
                    span.carousel-control-next-icon
            .col-xl-3.col-lg-3
              .container-fluid.text-center
                #myCarousel4.carousel.slide(data-ride='carousel' data-interval='2500')
                  // Indicators
                  .carousel-inner
                    .carousel-item.active
                      img.img-fluid(src='/public/images/under1.png' alt='under 1')
                      h5.pt-2.pb-2(style=' font-size: 18px') Under Frame Fabrication
                      h6(style=' font-size: 14px') 1. Welding of Front Part Station
                      p(style=' font-size: 14px') Manual Tack Welding of Cross Member and Sub Assembly to Made A Front Part
                    .carousel-item
                      img.img-fluid(src='/public/images/under2.png' alt='under 2')
                      h5.pt-2.pb-2(style=' font-size: 18px') Under Frame Fabrication
                      h6(style=' font-size: 14px') 2. Robotic Welding of Front Part Station
                      p(style=' font-size: 14px') Robotic Full Welding of Cross Member and Sub Assembly To Made A Front Part
                    .carousel-item
                      img.img-fluid(src='/public/images/under3.png' alt='under 3')
                      h5.pt-2.pb-2(style=' font-size: 18px') Under Frame Fabrication
                      h6(style=' font-size: 14px') 3. Tack Welding Station Of Middle Part
                      p(style=' font-size: 14px')
                        | Tack Welding of Front Part With Cross Member and Sub Assembly to Made A Middle Part
                    .carousel-item
                      img.img-fluid(src='/public/images/under4.png' alt='under 4')
                      h5.pt-2.pb-2(style=' font-size: 18px') Under Frame Fabrication
                      h6(style=' font-size: 14px') 4. Robotic Full Welding Station Of Middle Part 
                      p(style=' font-size: 14px') Robotic Full Welding of Midlle Part
                    .carousel-item
                      img.img-fluid(src='/public/images/under5.png' alt='under 5')
                      h5.pt-2.pb-2(style=' font-size: 18px') Under Frame Fabrication
                      h6(style=' font-size: 14px') 5. Welding of Trough Floor Station
                      p(style=' font-size: 14px') Manual Tack Welding of Floor Sheet on Middle Part
                    .carousel-item
                      img.img-fluid(src='/public/images/under6.png' alt='under 6')
                      h5.pt-2.pb-2(style=' font-size: 18px') Under Frame Fabrication
                      h6(style=' font-size: 14px') 6. Robotic Welding of Trough Floor Station 
                      p(style=' font-size: 14px') Full Welding of Floor Sheet From Back Side with Middle Part
                    .carousel-item
                      img.img-fluid(src='/public/images/under7.png' alt='under 7')
                      h5.pt-2.pb-2(style=' font-size: 18px') Under Frame Fabrication
                      h6(style=' font-size: 14px') 7. Plug welding of Trough Floor Station 
                      p(style=' font-size: 14px') Full Welding of Floor Sheet on Top Side and Plug Welding
                    .carousel-item
                      img.img-fluid(src='/public/images/under8.png' alt='under 8')
                      h5.pt-2.pb-2(style=' font-size: 18px') Under Frame Fabrication
                      h6(style=' font-size: 14px') 8. Manual Welding of Under slung Components 
                      p(style=' font-size: 14px') Manual Welding of Under Slung Parts and Console Bracket etc.
                    .carousel-item
                      img.img-fluid(src='/public/images/under9.png' alt='under 9')
                      h5.pt-2.pb-2(style=' font-size: 18px') Under Frame Fabrication
                      h6(style=' font-size: 14px') 9. Manual Welding of Channel Part Station
                      p(style=' font-size: 14px') Manual Welding of Channel and Bracket at Top Side of Floor
                    .carousel-item
                      img.img-fluid(src='/public/images/under10.png' alt='under 10')
                      h5.pt-2.pb-2(style=' font-size: 18px') Under Frame Fabrication
                      h6(style=' font-size: 14px') 10. Completion Station
                      p(style=' font-size: 14px') Finishing and Completion Manually
                  // Left and right controls
                  a.prev.carousel-control-prev(href='#myCarousel4' data-slide='prev')
                    span.carousel-control-prev-icon
                  a.next.carousel-control-next(href='#myCarousel4' data-slide='next')
                    span.carousel-control-next-icon
            .col-xl-3.col-lg-3
              .container-fluid.text-center
                #myCarousel5.carousel.slide(data-ride='carousel' data-interval='2500')
                  // Indicators
                  .carousel-inner
                    .carousel-item.active
                      img.img-fluid(src='/public/images/end1.png' alt='end 1')
                      h5.pt-2.pb-2(style=' font-size: 18px')  End Wall Fabrication
                      h6(style=' font-size: 14px')  1. Tack Welding Station 
                      p(style=' font-size: 14px') Tacking of Member Part and Assembly at Different Stages
                    .carousel-item
                      img.img-fluid(src='/public/images/end2.png' alt='end 2')
                      h5.pt-2.pb-2(style=' font-size: 18px')  End Wall Fabrication
                      h6(style=' font-size: 14px') 2. Robotic Full Welding Station
                      p(style=' font-size: 14px') Robotic Welding of Tacked Components of End Wall Part
                  // Left and right controls
                  a.prev.carousel-control-prev(href='#myCarousel5' data-slide='prev')
                    span.carousel-control-prev-icon
                  a.next.carousel-control-next(href='#myCarousel5' data-slide='next')
                    span.carousel-control-next-icon
      img.img-fluid(src='/public/images/LHBCoachShellManufacture.png' style='display: block;    margin-left : auto;    margin-right: auto;    width: 80%')
include footer.pug

