doctype html
head
  title Industry-4NSV 
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
  script(src='https://kit.fontawesome.com/a076d05399.js')
  style.
    body {
      background-color: #f7f7f7;
    }
  
div(style='background-color: #cd5c5c;')
  .container.text-center
    .row
      .col-2
        img.img-fluid(src='/public/images/logo.png' alt='logo')
      .col-8.pt-4
        h1.pb-5.pt-3(style='color:#f0f0f0; text-shadow: 8px 8px 16px #000000;')
          b INDUSTRY 4-NSV
      .col-2
        img.img-fluid.pt-4(height='75px' width='100px' src='/public/images/emblem.png' alt='emblem')
include navbar.pug
#md.container.pt-4.pb-4(style='background-color: #ffffff')
  include carousel.pug
  br
  .container
    .container
      h5 Networking
      ul
        li All the shops are properly networked using gigabit interfaces.
        li Wireless networking will also be supported
        li Required Central computer system will be placed in existing data center
        li A set of various servers will act as data concentrator backbone
        li Push-Pull data logging system will be supported
    .container
      h5 Data Logging
      ul
        li All the network ready machines will send data to data concentrator
        li All machines will send health related data also.
        li
          | A Network Interface Unit(NIU) (one for each Raw machine) will be designed which will push data into data concentrator. This NIU will be wireless ready
        li Data format for standard data will be standardized 
        li Data format for Health data will be standardized 
        li Data frequency will also be standardized (Per machine)
        li
          | Some data logger units will be placed across the various shop at various strategic point to know the resource health and environment inside a shop.
    .container
      h5 Schedule Optimization
      ul
        li Analysis outcome will provide the optimized usage of every machine.
        li Shop expansion plan will be generated using analysis outcome
    .container
      h5 Inefficiency cum under utilization Indicator
      ul
        li Dynamic analysis outcome  will predict the Inefficiency pointer
        li It will also indicate under utilization related issues.
    .container
      h5 Productivity Indicators
      ul
        li
          | Provide the following productivity indicators
          ul
            li for machine, shop, plant
        li
          | Current Order Status
        li Capacity to cater future orders
        li Expansion requirement to cater future orders
        li Schedule for expansion in phased manner
    .container
      h5 Health Monitoring
      ul
        li Monitoring of Machines
        li Monitoring of Process
        li Monitoring of Products
        li
          | Failures and Down time
          ul
            li Machine uptime
            li Cascaded effect on product line for a given failure
            li How to achieve failure independence
    .container
      h5 Further Analytics
      br
      .row
        .col-xl-3.col-lg-3
          h6 Production Intelligence
          br
          ul
            li Order Adherence to plan
            li Yield Analysis
            li 200+ Measures &amp; KPIs
        .col-xl-3.col-lg-3
          h6 Labor Intelligence
          br
          ul
            li Labor Availability
            li Labor Utilization
            li Units per Labor hours
            li 205 Measures &amp; KPIs
            li 90+ Measures &amp; KPIs
        .col-xl-3.col-lg-3
          h6 Quality Intelligence
          br
          ul
            li Test Equipment Performance
            li Root Cause Analysis
            li Inspection Analysis
            li 200+ Measures &amp; KPIs
        .col-xl-3.col-lg-3
          h6 Machine Intelligence
          br
          ul
            li Overall Equipment Effectiveness
            li Unplanned downtime
            li 70+ Measures &amp; KPIs
.pb-1.pt-1
  .container.mt-3.mb-3.text-center
    .row
      .col-xl-6.col-lg-6
        h5  Scale Up
        img.img-fluid(src='/public/images/scaleup.png')
      .col-xl-6.col-lg-6
        h5 Design Twin &ndash; Design Innovation
        img.img-fluid(src='/public/images/designTwinDesignInnovation.png')
    .row
      .col-xl-6.col-lg-6
        h5  Digital Twin
        img.img-fluid(src='/public/images/designTwin.png')
      .col-xl-6.col-lg-6
        h5 Integration
        img.img-fluid(src='/public/images/integration.png')
br
include footer.pug