doctype html
head
  title Industry-4NSV 
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
  script(src='https://kit.fontawesome.com/a076d05399.js')
  style.
    a.dropdown-item:hover {
    background-color: #f5dede;
    color: #cd5c5c;
    }
    .footer {
    background-color: #cd5c5c;
    color: black;
    margin: 0px auto;
    padding: 20px 0px;
    }
    .prev {
    display: block;
    position: absolute;
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
    }
    .next {
    display: block;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    }
  script(type='text/javascript').
    /// some script
    // jquery ready start
    $(document).ready(function() {
    // jQuery code
    //////////////////////// Prevent closing from click inside dropdown
    $(document).on('click', '.dropdown-menu', function (e) {
    e.stopPropagation();
    });
    // make it as accordion for smaller screens
    if ($(window).width() < 992) {
    $('.dropdown-menu a').click(function(e){
    e.preventDefault();
    if($(this).next('.submenu').length){
    $(this).next('.submenu').toggle();
    }
    $('.dropdown').on('hide.bs.dropdown', function () {
    $(this).find('.submenu').hide();
    })
    });
    }
    }); // jquery end
  style(type='text/css').
    @media (min-width: 992px){
    .dropdown-menu .dropdown-toggle:after{
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
    }
    .dropdown-menu .dropdown-menu{
    margin-left:0; margin-right: 0;
    }
    .dropdown-menu li{
    position: relative;
    }
    .nav-item .submenu{
    display: none;
    position: absolute;
    left:100%; top:-7px;
    }
    .nav-item .submenu-left{
    right:100%; left:auto;
    }
    .dropdown-menu > li:hover{ background-color: #ffffff; }
    .dropdown-menu > li:hover > .submenu{
    display: block;
    }
    }
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand.mr-auto(href='#' style='color: #cd5c5c; font-size: 30px;')
    img.img-fluid(src='/public/images/indianrail1.png' width='50' height='50')
    img.img-fluid(src='/public/images/amblem.png' width='50' height='50')
    img.img-fluid.pr-1(src='/public/images/iitk.png' width='50' height='50')
    b(style='text-shadow: 2px 2px #e6adad;') INDUSTRY-4NSV
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#Navbar')
    span.navbar-toggler-icon
  #Navbar.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='https://industry-4nsv.herokuapp.com/' style='color: #cd5c5c;')
          span.fa.fa-home.fa-lg.pl-1.pr-1
          |  Home
      li.nav-item
        a.nav-link(href='https://industry-4nsv.herokuapp.com/about' style='color: #cd5c5c;')
          span.fa.fa-info.fa-lg.pl-1.pr-1
          |  About
      li.nav-item
        a.nav-link(href='https://industry-4nsv.herokuapp.com/contact' style='color: #cd5c5c;')
          span.fa.fa-address-card.fa-lg.pl-1.pr-1
          |  Contact
      li.nav-item
        a.nav-link(href='https://industry-4nsv.herokuapp.com/admin' style='color: #cd5c5c;')
          span.fa.fa-user.fa-lg.pl-1.pr-1
          |  Admin
header.bg-light
  .carousel-inner(role='listbox' style='max-width:1600px; max-height:400px !important;')
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
        li(data-target='#carouselExampleIndicators' data-slide-to='1')
        li(data-target='#carouselExampleIndicators' data-slide-to='2')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='/public/images/railway1.jpg' alt='First slide')
        .carousel-item
          img.d-block.w-100(src='/public/images/railway2.jpg' alt='Second slide')
        .carousel-item
          img.d-block.w-100(src='/public/images/railway3.jpg' alt='Third slide')
      a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
  nav.navbar.navbar-expand-lg.navbar-dark(style='background-color: #A93434;')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#main_nav')
      span.navbar-toggler-icon
    #main_nav.collapse.navbar-collapse
      ul.navbar-nav.mx-auto
        //- li.nav-item.active
        //-   a.nav-link(href='https://industry-4nsv.herokuapp.com/')
        //-     span.fa.fa-home.fa-lg.pl-2.pr-2
        //-     b Home
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='https://industry-4nsv.herokuapp.com/', data-toggle='dropdown', style='color: #f5dede;')
            span.fa.fa-home.fa-lg.pl-2.pr-2
            b Home
          ul.dropdown-menu
            li
              a.dropdown-item(href='#')  Dashboard 
              a.dropdown-item(href='#')  Description 
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' style='color: #f5dede;')
            b Manufacturing Execution System(MES)
          ul.dropdown-menu
            li
              a.dropdown-item(href='#')  Machines  
              ul.submenu.dropdown-menu
                li
                  a.dropdown-item(href='#') Add Info
                  ul.submenu.dropdown-menu
                    li
                      a.dropdown-item(href='https://industry-4nsv.herokuapp.com/hardwareDesign/add') Add hardware design
                    li
                      a.dropdown-item(href='https://industry-4nsv.herokuapp.com/softwareDesign/add') Add software design
                    li
                      a.dropdown-item(href='https://industry-4nsv.herokuapp.com/hardwareMES/add') Add hardware MES
                    li
                      a.dropdown-item(href='https://industry-4nsv.herokuapp.com/softwareMES/add') Add software MES
                li
                  a.dropdown-item(href='#') Get Info
                  ul.submenu.dropdown-menu
                    li
                      a.dropdown-item(href='https://industry-4nsv.herokuapp.com/hardwareDesign/get') Get hardware design
                    li
                      a.dropdown-item(href='https://industry-4nsv.herokuapp.com/softwareDesign/get') Get software design
                    li
                      a.dropdown-item(href='https://industry-4nsv.herokuapp.com/hardwareMES/get') Get hardware MES
                    li
                      a.dropdown-item(href='https://industry-4nsv.herokuapp.com/softwareMES/get') Get software MES
                li
                  a.dropdown-item(href='https://industry-4nsv.herokuapp.com/implementation/LHBCoachShellManufacture') Coach Sub-Systems &amp; Components 
                  ul.submenu.dropdown-menu
                    li
                      a.dropdown-item(href='#') Add Info  
                      ul.submenu.dropdown-menu
                        li
                          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/event/addevent') Add Event
                        li
                          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/component/addcomponent') Add Component
                    li
                      a.dropdown-item(href='#') Get Info  
                      ul.submenu.dropdown-menu
                        li
                          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/event/getevent') Get Event
                        li
                          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/component/getcomponentform#tb') Get Component
            li
              a.dropdown-item(href='https://industry-4nsv.herokuapp.com/implementation/tables') PERT Chart
            li
              a.dropdown-item(href='https://industry-4nsv.herokuapp.com/implementation/layouts')  IT Hardware  
              ul.submenu.dropdown-menu
                li
                  a.dropdown-item(href='#') OPC-UA Server-Client 
                  ul.submenu.dropdown-menu
                    li
                      a.dropdown-item(href='#') Siemens
                    li
                      a.dropdown-item(href='#') In-house development
                li
                  a.dropdown-item(href='#') Fanuc links 
                li
                  a.dropdown-item(href='#') RFID 
                li
                  a.dropdown-item(href='#') Instrumentation 
        li.nav-item
          a.nav-link(href='#' style='color: #f5dede;')
            b Establishment
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' style='color: #f5dede;')
            b Status &amp; Updates
          ul.dropdown-menu
            li
              a.dropdown-item(href='#') Overall Progress
              a.dropdown-item(href='#') Update
              a.dropdown-item(href='#') Discussion Board
              a.dropdown-item(href='#') Minutes of Meetings
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' style='color: #f5dede;')
            b RuTAG Link
          ul.dropdown-menu
            li
              a.dropdown-item(href='#') Overall Progress
              a.dropdown-item(href='#') Update
              a.dropdown-item(href='#') Discussion Board
              a.dropdown-item(href='#') Minutes of Meetings
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' style='color: #f5dede;')
            b Finance &amp; Accounts
          ul.dropdown-menu
            li
              a.dropdown-item(href='#') Budget &amp; Heads
              a.dropdown-item(href='#') Utilization
              a.dropdown-item(href='#') Purchase &amp; Procurement
              a.dropdown-item(href='#') Expenditure
              a.dropdown-item(href='#') Balance Sheets
              a.dropdown-item(href='#') Record Generation
        //
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">  More items  </a>
          <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#"> Dropdown item 1 </a></li>
          <li>
          <a class="dropdown-item dropdown-toggle" href="#"> Dropdown item 2 </a>
          <ul class="submenu dropdown-menu">
          <li><a class="dropdown-item" href="">Submenu item 1</a></li>
          <li><a class="dropdown-item" href="">Submenu item 2</a></li>
          <li><a class="dropdown-item" href="">Submenu item 3</a></li>
          </ul>
          </li>
          <li>
          <a class="dropdown-item dropdown-toggle" href="#"> Dropdown item 3 </a>
          <ul class="submenu dropdown-menu">
          <li><a class="dropdown-item" href="">Another submenu 1</a></li>
          <li><a class="dropdown-item" href="">Another submenu 2</a></li>
          <li><a class="dropdown-item" href="">Another submenu 3</a></li>
          <li><a class="dropdown-item" href="">Another submenu 4</a></li>
          </ul>
          </li>
          <li>
          <a class="dropdown-item dropdown-toggle" href="#"> Dropdown item 4 </a>
          <ul class="submenu dropdown-menu">
          <li><a class="dropdown-item" href="">Another submenu 1</a></li>
          <li><a class="dropdown-item" href="">Another submenu 2</a></li>
          <li><a class="dropdown-item" href="">Another submenu 3</a></li>
          <li><a class="dropdown-item" href="">Another submenu 4</a></li>
          </ul>
          </li>
          <li><a class="dropdown-item" href="#"> Dropdown item 4 </a></li>
          <li><a class="dropdown-item" href="#"> Dropdown item 5 </a></li>
          </ul>
          </li>
