nav.navbar.navbar-expand-sm.navbar-light.bg-light
  a.navbar-brand(href='#')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
    span.navbar-toggler-icon
  #collapsibleNavbar.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.pl-2.pr-2
        a.nav-link(href='https://industry-4nsv.herokuapp.com/')
          b Home
      li.nav-item.pl-2.pr-2
        a.nav-link(href='https://industry-4nsv.herokuapp.com/about')
          b About
      li.nav-item.pl-2.pr-2
        a.nav-link(href='https://industry-4nsv.herokuapp.com/event/getevent')
          b News &amp; Events
      li.nav-item.dropdown.pl-2.pr-2
        a#navbardrop.nav-link.dropdown-toggle(href='#' data-toggle='dropdown')
          b Implementation Details
        .dropdown-menu
          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/implementation/layouts') Layouts
          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/implementation/LHBCoachShellManufacture') LHB Coach Shell Manufacture
          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/implementation/tables') Tables
          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/implementation/architecture')  Implementation and Architecture
      li.nav-item.pl-2.pr-2
        a.nav-link(href='https://industry-4nsv.herokuapp.com/moredetails')
          b More Details
      li.nav-item.pl-2.pr-2
        a.nav-link(href='https://industry-4nsv.herokuapp.com/contact')
          b Contact
      li.nav-item.pl-2.pr-2
        a.nav-link(href='https://industry-4nsv.herokuapp.com/component/getcomponentform#tb')
          b Component Detail Form 
      li.nav-item.dropdown.pl-2.pr-2
        a#navbardrop.nav-link.dropdown-toggle(href='#' data-toggle='dropdown')
          b Admin Page
        .dropdown-menu
          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/event/addevent') Add Event
          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/component/addcomponent') Add Component
#carouselExampleIndicators.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
    li(data-target='#carouselExampleIndicators' data-slide-to='1')
    li(data-target='#carouselExampleIndicators' data-slide-to='2')
    li(data-target='#carouselExampleIndicators' data-slide-to='3')
  .carousel-inner
    .carousel-item.active
      img.d-block.w-100(src='/public/images/scaleup.png' alt='First slide')
    .carousel-item
      img.d-block.w-100(src='/public/images/designTwinDesignInnovation.png' alt='Second slide')
    .carousel-item
      img.d-block.w-100(src='/public/images/designTwin.png' alt='Third slide')
    .carousel-item
      img.d-block.w-100(src='/public/images/integration.png' alt='Fourth slide')
  a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.sr-only Previous
  a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.sr-only Next
