include header
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand.mr-auto(href='#' style='color: #cd5c5c; font-size: 30px;')
    img.img-fluid(src='/public/images/indianrail1.png' width='50' height='50')
    img.img-fluid(src='/public/images/amblem.png' width='50' height='50')
    img.img-fluid.pr-1(src='/public/images/iitk.png' width='50' height='50')
    b(style='text-shadow: 2px 2px #e6adad;') INDUSTRY-4NSV
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#Navbar')
    span.navbar-toggler-icon
  #Navbar.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='https://industry-4nsv.herokuapp.com/' target='_blank' style='color: #cd5c5c;')
          span.fa.fa-home.fa-lg.pl-1.pr-1
          |  Home
      li.nav-item
        a.nav-link(href='https://industry-4nsv.herokuapp.com/about' target='_blank' style='color: #cd5c5c;')
          span.fa.fa-info.fa-lg.pl-1.pr-1
          |  About
      li.nav-item
        a.nav-link(href='https://industry-4nsv.herokuapp.com/contact' target='_blank' style='color: #cd5c5c;')
          span.fa.fa-address-card.fa-lg.pl-1.pr-1
          |  Contact
      li.nav-item
        a.nav-link(href='https://industry-4nsv.herokuapp.com/admin' target='_blank' style='color: #cd5c5c;')
          span.fa.fa-user.fa-lg.pl-1.pr-1
          |  Admin
header.bg-light
  .carousel-inner(role='listbox' style='max-width:1600px; max-height:400px !important;')
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
        li(data-target='#carouselExampleIndicators' data-slide-to='1')
        li(data-target='#carouselExampleIndicators' data-slide-to='2')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='/public/images/railway1.jpg' alt='First slide')
        .carousel-item
          img.d-block.w-100(src='/public/images/railway2.jpg' alt='Second slide')
        .carousel-item
          img.d-block.w-100(src='/public/images/railway3.jpg' alt='Third slide')
      a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
  nav.navbar.navbar-expand-lg.navbar-dark(style='background-color: #A93434;')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#main_nav')
      span.navbar-toggler-icon
    #main_nav.collapse.navbar-collapse
      ul.navbar-nav
        //- li.nav-item.active
        //-   a.nav-link(href='https://industry-4nsv.herokuapp.com/')
        //-     span.fa.fa-home.fa-lg.pl-2.pr-2
        //-     b Home
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='https://industry-4nsv.herokuapp.com/' target='_blank' data-toggle='dropdown', style='color: #f5dede;')
            span.fa.fa-home.fa-lg.pl-2.pr-2
            b Home
          ul.dropdown-menu
            li
              a.dropdown-item(href='https://industry-4nsv.herokuapp.com/description' target='_blank')  Description  
              a.dropdown-item(href='https://industry-4nsv.herokuapp.com/dashboard' target='_blank')  Dashboard 
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' target='_blank' data-toggle='dropdown' style='color: #f5dede;')
            b Manufacturing Execution System(MES)
          ul.dropdown-menu
            li
              a.dropdown-item(href='#' target='_blank')  Machines  
              ul.submenu.dropdown-menu
                //- li
                //-   a.dropdown-item(href='#' target='_blank') Add Info
                //-   ul.submenu.dropdown-menu
                //-     li
                //-       a.dropdown-item(href='https://industry-4nsv.herokuapp.com/hardwareDesign/add' target='_blank') Add hardware design
                //-     li
                //-       a.dropdown-item(href='https://industry-4nsv.herokuapp.com/softwareDesign/add' target='_blank') Add software design
                //-     li
                //-       a.dropdown-item(href='https://industry-4nsv.herokuapp.com/hardwareMES/add' target='_blank') Add hardware MES
                //-     li
                //-       a.dropdown-item(href='https://industry-4nsv.herokuapp.com/softwareMES/add' target='_blank') Add software MES
                //- li
                //-   a.dropdown-item(href='#' target='_blank') Get Info
                //-   ul.submenu.dropdown-menu
                //-     li
                //-       a.dropdown-item(href='https://industry-4nsv.herokuapp.com/hardwareDesign/get' target='_blank') Get hardware design
                //-     li
                //-       a.dropdown-item(href='https://industry-4nsv.herokuapp.com/softwareDesign/get' target='_blank') Get software design
                //-     li
                //-       a.dropdown-item(href='https://industry-4nsv.herokuapp.com/hardwareMES/get' target='_blank') Get hardware MES
                //-     li
                //-       a.dropdown-item(href='https://industry-4nsv.herokuapp.com/softwareMES/get' target='_blank') Get software MES
                li
                  a.dropdown-item(href='https://industry-4nsv.herokuapp.com/implementation/LHBCoachShellManufacture' target='_blank') Coach Sub-Systems &amp; Components 
                  ul.submenu.dropdown-menu
                    li
                      a.dropdown-item(href='#' target='_blank') Add Info  
                      ul.submenu.dropdown-menu
                        li
                          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/event/addevent' target='_blank') Add Event
                        li
                          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/component/addcomponent' target='_blank') Add Component
                    li
                      a.dropdown-item(href='#') Get Info  
                      ul.submenu.dropdown-menu
                        li
                          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/event/getevent' target='_blank') Get Event
                        li
                          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/component/getcomponentform#tb' target='_blank') Get Component
            li
              a.dropdown-item(href='https://industry-4nsv.herokuapp.com/implementation/tables' target='_blank') PERT Chart
            li
              a.dropdown-item(href='https://industry-4nsv.herokuapp.com/implementation/layouts' target='_blank')  IT Hardware  
              ul.submenu.dropdown-menu
                li
                  a.dropdown-item(href='#' target='_blank') OPC-UA Server-Client 
                  ul.submenu.dropdown-menu
                    li
                      a.dropdown-item(href='#' target='_blank') Siemens
                    li
                      a.dropdown-item(href='#' target='_blank') In-house development
                li
                  a.dropdown-item(href='#' target='_blank') Fanuc links 
                li
                  a.dropdown-item(href='#' target='_blank') RFID 
                li
                  a.dropdown-item(href='#' target='_blank') Instrumentation 
        //- li.nav-item
        //-   a.nav-link(href='#' target='_blank' style='color: #f5dede;')
        //-     b Establishment
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' target='_blank' data-toggle='dropdown' style='color: #f5dede;') 
            b Establishment  
          ul.dropdown-menu
            li
              a.dropdown-item(href='#')  Dropdown item 1 
            li
              a.dropdown-item.dropdown-toggle(href='#')  Dropdown item 2 
              ul.submenu.dropdown-menu
                li
                  a.dropdown-item(href='') Submenu item 1
                li
                  a.dropdown-item(href='') Submenu item 2
                li
                  a.dropdown-item(href='') Submenu item 3
            li
              a.dropdown-item.dropdown-toggle(href='#')  Dropdown item 3 
              ul.submenu.dropdown-menu
                li
                  a.dropdown-item(href='') Another submenu 1
                li
                  a.dropdown-item(href='') Another submenu 2
                li
                  a.dropdown-item(href='') Another submenu 3
                li
                  a.dropdown-item(href='') Another submenu 4
            li
              a.dropdown-item.dropdown-toggle(href='#')  Dropdown item 4 
              ul.submenu.dropdown-menu
                li
                  a.dropdown-item(href='') Another submenu 1
                li
                  a.dropdown-item(href='') Another submenu 2
                li
                  a.dropdown-item(href='') Another submenu 3
                li
                  a.dropdown-item(href='') Another submenu 4
            li
              a.dropdown-item(href='#')  Dropdown item 4 
            li
              a.dropdown-item(href='#')  Dropdown item 5 
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' target='_blank' data-toggle='dropdown' style='color: #f5dede;')
            b Status &amp; Updates
          ul.dropdown-menu
            li
              a.dropdown-item(href='#' target='_blank') Overall Progress
              a.dropdown-item(href='#' target='_blank') Update
              a.dropdown-item(href='#' target='_blank') Discussion Board
              a.dropdown-item(href='#' target='_blank') Minutes of Meetings
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' target='_blank' data-toggle='dropdown' style='color: #f5dede;')
            b RuTAG Link
          ul.dropdown-menu
            li
              a.dropdown-item(href='#' target='_blank') Overall Progress
              a.dropdown-item(href='#' target='_blank') Update
              a.dropdown-item(href='#' target='_blank') Discussion Board
              a.dropdown-item(href='#' target='_blank') Minutes of Meetings
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' target='_blank' data-toggle='dropdown' style='color: #f5dede;')
            b Finance &amp; Accounts
          ul.dropdown-menu
            li
              a.dropdown-item(href='#') Add Info
              ul.submenu.dropdown-menu
                li
                  a.dropdown-item(href='https://industry-4nsv.herokuapp.com/hardwareDesign/add' target='_blank') Add hardware design
                li
                  a.dropdown-item(href='https://industry-4nsv.herokuapp.com/softwareDesign/add' target='_blank') Add software design
                li
                  a.dropdown-item(href='https://industry-4nsv.herokuapp.com/hardwareMES/add' target='_blank') Add hardware MES
                li
                  a.dropdown-item(href='https://industry-4nsv.herokuapp.com/softwareMES/add' target='_blank') Add software MES           
            li
              a.dropdown-item(href='#') Get Info
              ul.submenu.dropdown-menu
                li
                  a.dropdown-item(href='https://industry-4nsv.herokuapp.com/hardwareDesign/get' target='_blank') Get hardware design
                li
                  a.dropdown-item(href='https://industry-4nsv.herokuapp.com/softwareDesign/get' target='_blank') Get software design
                li
                  a.dropdown-item(href='https://industry-4nsv.herokuapp.com/hardwareMES/get' target='_blank') Get hardware MES
                li
                  a.dropdown-item(href='https://industry-4nsv.herokuapp.com/softwareMES/get' target='_blank') Get software MES           
            a.dropdown-item(href='#' target='_blank') Budget &amp; Heads
            a.dropdown-item(href='#' target='_blank') Utilization
            a.dropdown-item(href='#' target='_blank') Purchase &amp; Procurement
            a.dropdown-item(href='#' target='_blank') Expenditure
            a.dropdown-item(href='#' target='_blank') Balance Sheets
            a.dropdown-item(href='#' target='_blank') Record Generation
            
        //
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">  More items  </a>
          <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#"> Dropdown item 1 </a></li>
          <li>
          <a class="dropdown-item dropdown-toggle" href="#"> Dropdown item 2 </a>
          <ul class="submenu dropdown-menu">
          <li><a class="dropdown-item" href="">Submenu item 1</a></li>
          <li><a class="dropdown-item" href="">Submenu item 2</a></li>
          <li><a class="dropdown-item" href="">Submenu item 3</a></li>
          </ul>
          </li>
          <li>
          <a class="dropdown-item dropdown-toggle" href="#"> Dropdown item 3 </a>
          <ul class="submenu dropdown-menu">
          <li><a class="dropdown-item" href="">Another submenu 1</a></li>
          <li><a class="dropdown-item" href="">Another submenu 2</a></li>
          <li><a class="dropdown-item" href="">Another submenu 3</a></li>
          <li><a class="dropdown-item" href="">Another submenu 4</a></li>
          </ul>
          </li>
          <li>
          <a class="dropdown-item dropdown-toggle" href="#"> Dropdown item 4 </a>
          <ul class="submenu dropdown-menu">
          <li><a class="dropdown-item" href="">Another submenu 1</a></li>
          <li><a class="dropdown-item" href="">Another submenu 2</a></li>
          <li><a class="dropdown-item" href="">Another submenu 3</a></li>
          <li><a class="dropdown-item" href="">Another submenu 4</a></li>
          </ul>
          </li>
          <li><a class="dropdown-item" href="#"> Dropdown item 4 </a></li>
          <li><a class="dropdown-item" href="#"> Dropdown item 5 </a></li>
          </ul>
          </li>
  