nav.navbar.navbar-expand-sm(style=' background-color: #f0f0f5;')
  a.navbar-brand(href='#')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
    span.navbar-toggler-icon
  #collapsibleNavbar.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.pl-2.pr-2
        a.nav-link(href='http://localhost:3000/')
          b Home
      li.nav-item.pl-2.pr-2
        a.nav-link(href='http://localhost:3000/about')
          b About
      li.nav-item.pl-2.pr-2
        a.nav-link(href='http://localhost:3000/event/getevent')
          b News &amp; Events
      li.nav-item.dropdown.pl-2.pr-2
        a#navbardrop.nav-link.dropdown-toggle(href='#' data-toggle='dropdown')
          b Implementation Details
        .dropdown-menu
          a.dropdown-item(href='http://localhost:3000/implementation/layouts') Layouts
          a.dropdown-item(href='http://localhost:3000/implementation/LHBCoachShellManufacture') LHB Coach Shell Manufacture
          a.dropdown-item(href='http://localhost:3000/implementation/tables') Tables
          a.dropdown-item(href='http://localhost:3000/implementation/architecture')  Implementation and Architecture
      li.nav-item.pl-2.pr-2
        a.nav-link(href='http://localhost:3000/moredetails')
          b More Details
      li.nav-item.pl-2.pr-2
        a.nav-link(href='http://localhost:3000/contact')
          b Contact
      li.nav-item.pl-2.pr-2
        a.nav-link(href='http://localhost:3000/component/getcomponentform#tb')
          b Component Detail Form 
      li.nav-item.dropdown.pl-2.pr-2
        a#navbardrop.nav-link.dropdown-toggle(href='#' data-toggle='dropdown')
          b Admin Page
        .dropdown-menu
          a.dropdown-item(href='http://localhost:3000/event/addevent') Add Event
          a.dropdown-item(href='http://localhost:3000/component/addcomponent') Add Component