nav.navbar.navbar-expand-sm.navbar-light.bg-light
  a.navbar-brand(href='#')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
    span.navbar-toggler-icon
  #collapsibleNavbar.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.pl-2.pr-2
        a.nav-link(href='https://industry-4nsv.herokuapp.com/')
          b Home
      li.nav-item.pl-2.pr-2
        a.nav-link(href='https://industry-4nsv.herokuapp.com/about')
          b About
      li.nav-item.pl-2.pr-2
        a.nav-link(href='https://industry-4nsv.herokuapp.com/event/getevent')
          b News &amp; Events
      li.nav-item.dropdown.pl-2.pr-2
        a#navbardrop.nav-link.dropdown-toggle(href='#' data-toggle='dropdown')
          b Implementation Details
        .dropdown-menu
          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/implementation/layouts') Layouts
          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/implementation/LHBCoachShellManufacture') LHB Coach Shell Manufacture
          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/implementation/tables') Tables
          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/implementation/architecture')  Implementation and Architecture
      li.nav-item.pl-2.pr-2
        a.nav-link(href='https://industry-4nsv.herokuapp.com/moredetails')
          b More Details
      li.nav-item.pl-2.pr-2
        a.nav-link(href='https://industry-4nsv.herokuapp.com/contact')
          b Contact
      li.nav-item.pl-2.pr-2
        a.nav-link(href='https://industry-4nsv.herokuapp.com/component/getcomponentform#tb')
          b Component Detail Form 
      li.nav-item.dropdown.pl-2.pr-2
        a#navbardrop.nav-link.dropdown-toggle(href='#' data-toggle='dropdown')
          b Admin Page
        .dropdown-menu
          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/event/addevent') Add Event
          a.dropdown-item(href='https://industry-4nsv.herokuapp.com/component/addcomponent') Add Component
