include navbar.pug
.bg-light.pt-5.pb-5
  .bg-light
    .container.pl-2
      .container
          .container
            h3.pb-2.pr-2
              b Software MES List
              i.fa.fa-plus(style='font-size:24px; float: right; margin-left: -50%;')
      #tb.container.table-responsive
        table.table.table-bordered.table-hover
          thead(style='background-color: #A93434; color: #f0f0f0;')
            tr
              th(scope='col') Softwares
              th(scope='col') Quantity
              th(scope='col') Price
              th(scope='col') Order            
          tbody
            if softwareMes
              for item in softwareMes
                tr
                  td #{item.Softwares}
                  td #{item.Quantity}
                  td #{item.Price}
                  td #{item.Order}           
include footer.pug