include navbar.pug
.bg-light.pt-5.pb-5
  .bg-light
    .row
      #tb.container.table-responsive
        h3.text-center.pb-2
          b Software MES List
        table.table.table-bordered.table-hover
          thead(style='background-color: #cd5c5c; color: #f0f0f0;')
            tr
              th(scope='col') Softwares
              th(scope='col') Quantity
              th(scope='col') Price
              th(scope='col') Order            
          tbody
            if softwareMes
              for item in softwareMes
                tr
                  td #{item.Softwares}
                  td #{item.Quantity}
                  td #{item.Price}
                  td #{item.Order}           
include footer.pug