
include navbar.pug
.bg-light
  #table.container.pt-4.pb-4.text-center
    .row
      .col-xl-6.col-lg-6
        h5.mb-3  Work Centers for Shell Manufacture
        .container.pt-4.pb-4(style='background-color: #ffffff')
          .container-body
            img.img-fluid(src='/public/images/table1.png')
      .col-xl-6.col-lg-6
        h5.mb-3 Details of Machines &amp; Controllers
        .container.pt-4.pb-4(style='background-color: #ffffff')
          .container-body
            img.img-fluid(src='/public/images/table2.png')
include footer.pug
