

doctype html
head
  title Industry-4NSV 
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
  script(src='https://kit.fontawesome.com/a076d05399.js')
  style.
    body {
      background-color: #f7f7f7;
    }
   
div(style='background-color:  #cd5c5c;')
  .container.text-center
    .row
      .col-2
        img.img-fluid(src='/public/images/logo.png' alt='logo')
      .col-8.pt-4
        h1.pb-5.pt-3(style='color:#f0f0f5; text-shadow: 8px 8px 16px #000000;')
          b INDUSTRY 4-NSV
      .col-2
        img.img-fluid.pt-4(height='75px' width='100px' src='/public/images/emblem.png' alt='emblem')
include navbar.pug
#table.container.mt-3.mb-3.text-center
  .row
    .col-6
      h5.mb-3.mt-5  Work Centers for Shell Manufacture
      .card.mb-5
        .card-body
          img.img-fluid(src='/public/images/table1.png')
    .col-6
      h5.mb-3.mt-5  Details of Machines &amp; Controllers
      .card.mb-5
        .card-body
          img.img-fluid(src='/public/images/table2.png')
